a {
    text-decoration: none;
    color: brown;
    font-size: 25px;
}

img {
    width: 450px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.main {
    display: flex;
    justify-content:space-around;

}

.project{
    display: flex;
    flex-direction: column;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

